extends layout

block content
  h1= title
  p Welcome to #{title}
  each module in modules 
    section(class='module', id=module.slug)
      h2= module.title
      table
        tr
          th(data-raw=module.table[0].x.name)= module.table[0].x.formatted_name 
          th(data-raw=module.table[0].y.name)= module.table[0].y.formatted_name 
        each datum in module.table
          tr
            td(data-raw=datum.x.value)= datum.x.formatted_value
            td(data-raw=datum.y.value)= datum.y.formatted_value
      div(class='c3')
      div(class='nvd3 epoch category10', id='area' style='height:200px;')
      div(class='epoch')
        
